*{
    margin: 0;
    padding: 0;
}
body{
    background: url(../imagenes/main/fondo.jpeg);
    background-size: cover;

    position: relative;

    height: 100vh;
}
/*----------------------------------------------------------------------------------header-----*/
header{
    background-color: rgb(93, 184, 153);

    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 1rem; left: 1rem; right: 1rem;

    height: 8rem;
    padding: 1rem;
    z-index: 3;
}
.container-fluid{
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-align: end;
    align-content: flex-end;

    margin-top: 3rem;
    background-color: rgb(93, 184, 153);
}
.navbar-toggler{
    position: absolute;
    right: 1rem;
    top: 1rem;
}
.logo{
    height: 100%;
    width: auto;
}
/*-----------------------------------------------------------------------------------header-----*/
/*-------------------------------------------------------------------------------------main---*/
main{
    background-color: transparent;

    margin: 10rem 0rem 0rem 4rem;
    min-height: calc( 100vh - 14rem);

    display: flex;
    gap: 1rem;
}
/*----------------------------------------------------------------------------section--------------*/
section{
    background-color: rgba(233, 146, 85, 0.8);

    width: 100%;
    height: fit-content;
    padding: 1rem;
    margin: 0.5rem;
}
h1, h2{
    text-align: center;
}
/*---quienessomos----------------------*/
p{
    text-indent: 1rem;
    line-height: 1.3rem;
    font-family: Tahoma;
    font-size: 1rem;
    text-align: center;
}
/*----------contacto--------------*/
textarea {
    max-width: 98%;
  }
/*---------index------------------*/
.ofertas{
    width: 70%;
}
.carousel-inner{
    height:20rem;
    width: 100%;
    margin: .3rem;
}
/*--------ropa---------*/
.cat{
    display: grid;
    width: 100%;
    
    grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
    gap: 1rem;

    background-color: rgb(248, 211, 165, 0.4);
}
.cat_grid{
    overflow: hidden;
}
.cat_img{
    height: 12rem;
    overflow: hidden;
}
.cat_img img{
    width: 100%;
}
.cat_texto{
    height: 20%;
    width: 100%;

    font-size: 1rem;
    background-color: rgba(248, 211, 165, 0.637);
    text-align: center;
}
/*-----------------------------------------------------------------------------section--------------*/
/*-----------------------------------------------------------------------------aside---------------*/
aside{
    background-color: transparent;

    width: 30%;
    height: fit-content;
    float: right;
    padding: 1rem;
    margin: 0.5rem;
}
/*---contacto-------*/
.tabla{
    background-color: rgba(247, 164, 104, 0.808);
    border: solid black;
    border-collapse: separate;
    padding: .5rem;
    margin:0;
}

/*---quienes somos--------*/
.vid{
    width: 100%;
    height: auto;
    margin: 0;
}

/*------index-------------*/
.index{
    width: 30%;
    background-color: rgba(250, 235, 215, 0.788);
}
.descarga{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100%;
}
#pcia{
    border: solid  coral;
    background-color: aliceblue;
    font-family: Helvetica, sans-serif;
    text-align: center;
    width: 100%;
}
.descarga_boton{
    border: solid  coral;
    background-color: aliceblue;
    font-family: Helvetica, sans-serif;
    text-align: center;
}
/*---------------------------------------------------------------------------------aside---------------*/
/*---------------botones----------------------------------*/
.in{
    width: 2.5rem;
    height: auto;

    position: fixed;
    bottom: 5rem;
    left: 2rem;
    
    background-color: rgb(95, 211, 172);
    border-radius: 50%;
}
.wsp{
    width: 2.5rem;
    height: auto;

    position: fixed;
    bottom: 8rem;
    left: 2rem;
    
    background-color: rgb(95, 211, 172);
    border-radius: 50%;
}
.mail{
    width: 2.5rem;
    height: auto;

    position: fixed;
    bottom: 11rem;
    left: 2rem;
    
    background-color: rgb(95, 211, 172);
    border-radius: 50%;
}
/*---------------botones----------------------------------*/
/*------------------------------------------------------------------------------------------------main---*/
/*-----------------------------------------------------------------------------------------------footer---*/
footer{
    background-color: rgb(93, 184, 153);

    display: flex;
    justify-content: end;
    align-items: center;

    padding: 2rem;
    
    height: 3rem;
    width: 100%;
}
#rel{
    background-color: rgb(93, 184, 153);
}
.corto{
    margin: 0;

    display: none;
}
.largo{
    margin: 0;
}
@media (max-width: 700px) {
    main{
        margin: 9rem 1rem 1rem 1rem;
        display: block;
    }
    .ofertas{     
        width: 100%;
        margin: 0;
        padding: 0;
        display: block;
    }
    section{
        width: 100%;
        margin: 0;
        padding: 0;
        display: block;
    }
    .carousel-inner{
        max-height: 20rem;
    }
    aside{
        width: 100%;
        margin: 0rem 1rem 0rem 0rem ;
        padding: 0;
        display: block;
    }
    .index{
        width: 100%;
        display: block;
    }
    .in,.wsp,.mail{
        display: none;
        margin: 0;
    }
    footer{
        display: flex;
    }
    .largo{
        display: none; 
      }
    .corto{
        display: flex;
        height: 2rem;
        width: auto;
    }
}
